.bundle
db/*.sqlite3
log/*.log
tmp/
config/database*
public/css
public/image1
public/img
app/views/layouts/application.html.erb
*.swp
*.swo
.sass-cache/
public/share
public/css_2012
public/archive
data/
