<% title edit(:comment) %>

<%= semantic_form_for @comment do |f| %>
  <%= render 'form', :f => f, :button_label => update(:comment) %>
<% end %>

<div id="bottom_links">
  <% if can? :show, @comment -%>
    <%= link_to t(:show), @comment %> |
  <% end %>
  <%= link_to view(:comment), comments_path if can? :index, Comment %>
</div>
