<% title pl(:comment) %>

<ul id="comments">
  <% @comments.each do |comment| %>
    <% if can? :show, comment %>
      <li><%= render comment %></li>
    <% end %>
  <% end %>
</ul>

<div id="bottom_links">
  <%= link_to new(:comment),
  new_comment_path if can? :new, Comment %>
</div>
