<% present @comment do |presenter| %>

<div class="verify">
  <%= presenter.title notification(:contents_correct_for_sending?) %>
  <%= presenter.info %>
  <%= presenter.form %>
</div>

<% end %>

</div>

