/* line 32, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 37, ../../app/stylesheets/application.sass */
a {
  color: #4b7399;
  text-decoration: none;
  font-size: 12px;
}

/* line 42, ../../app/stylesheets/application.sass */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 46, ../../app/stylesheets/application.sass */
div#flash_notice {
  float: left;
  width: 476px;
  text-align: center;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -moz-linear-gradient(top, #4cc417 0%, #339966 100%);
  background-image: linear-gradient(top, #4cc417 0%, #339966 100%);
}

/* line 54, ../../app/stylesheets/application.sass */
div#flash_alert {
  float: left;
  width: 476px;
  text-align: center;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff3333), color-stop(100%, #993333));
  background-image: -moz-linear-gradient(top, #ff3333 0%, #993333 100%);
  background-image: linear-gradient(top, #ff3333 0%, #993333 100%);
}

/* line 64, ../../app/stylesheets/application.sass */
div#container div#unique {
  width: 476px;
  padding: 20px 40px;
  float: left;
  border: 1px solid black;
  background: #eeeeee;
  margin-left: 10px;
}
/* line 72, ../../app/stylesheets/application.sass */
div#container div#unique div#top_navigation div#language_navigation {
  float: left;
}
/* line 74, ../../app/stylesheets/application.sass */
div#container div#unique div#top_navigation div#user_navigation {
  float: right;
}
/* line 76, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content {
  float: left;
}
/* line 78, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#title {
  font-size: 16px;
  margin: 0 0 10px 5px;
}
/* line 81, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify, div#container div#unique div#main_content div#sent {
  font-size: 14px;
}
/* line 83, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify a, div#container div#unique div#main_content div#sent a {
  float: left;
  margin: 10px 0 0 75px;
}
/* line 87, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify ul li, div#container div#unique div#main_content div#sent ul li {
  list-style-type: none;
}
/* line 89, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify ul li span#label, div#container div#unique div#main_content div#sent ul li span#label {
  float: left;
  width: 70px;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
}
/* line 95, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify ul li span#content, div#container div#unique div#main_content div#sent ul li span#content {
  float: left;
  background: #dddddd;
  width: 300px;
}
/* line 99, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify ul li:hover, div#container div#unique div#main_content div#sent ul li:hover {
  background: white;
}
/* line 102, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content ul li {
  padding: 2.5px 0;
}
/* line 104, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content ul li:hover {
  background: #dddddd;
}
/* line 107, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic li.error {
  background: pink;
}
/* line 110, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic li.error p.inline-errors {
  margin-left: 160px;
  color: white;
  text-shadow: 1px 1px 1px black;
}
/* line 114, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic li {
  font-size: 13px;
  list-style-type: none;
  padding: 0 5px;
}
/* line 118, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic li textarea {
  width: 400px;
  height: 100px;
}
/* line 121, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic li label {
  float: left;
  width: 150px;
  text-align: right;
  margin: 2px 10px 0 0;
}
/* line 126, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic input.submit {
  margin: 10px 0 0 160px;
}
/* line 128, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.formtastic input.small_submit {
  margin-top: 10px;
}
/* line 132, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.comment li.error p.inline-errors, div#container div#unique div#main_content form.user li.error p.inline-errors {
  margin-left: 0;
}
/* line 135, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.comment li label, div#container div#unique div#main_content form.user li label {
  float: none;
  display: block;
  text-align: left;
}
/* line 139, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.comment li input, div#container div#unique div#main_content form.user li input {
  width: 300px;
}
/* line 141, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content form.comment input.submit, div#container div#unique div#main_content form.user input.submit {
  margin: 10px 0 0 5px;
}
