/* FORM ------------------ */
/* line 39, ../../app/stylesheets/application.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 44, ../../app/stylesheets/application.sass */
a {
  color: #4b7399;
  text-decoration: none;
  font-size: 12px;
}

/* line 49, ../../app/stylesheets/application.sass */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 53, ../../app/stylesheets/application.sass */
div#flash_notice {
  float: left;
  width: 476px;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -webkit-linear-gradient(#4cc417, #339966);
  background-image: -moz-linear-gradient(#4cc417, #339966);
  background-image: -o-linear-gradient(#4cc417, #339966);
  background-image: linear-gradient(#4cc417, #339966);
}

/* line 61, ../../app/stylesheets/application.sass */
div#flash_alert {
  float: left;
  width: 476px;
  text-align: center;
  margin-bottom: 10px;
  padding: 3px 10px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(#ff3333, #993333);
  background-image: -moz-linear-gradient(#ff3333, #993333);
  background-image: -o-linear-gradient(#ff3333, #993333);
  background-image: linear-gradient(#ff3333, #993333);
}

/* line 74, ../../app/stylesheets/application.sass */
div#container div#unique {
  width: 476px;
  padding: 20px 40px;
  float: left;
  margin-left: 10px;
}
/* line 82, ../../app/stylesheets/application.sass */
div#container div#unique div#top_navigation div#language_navigation {
  float: left;
}
/* line 84, ../../app/stylesheets/application.sass */
div#container div#unique div#top_navigation div#user_navigation {
  float: right;
}
/* line 87, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#form {
  width: 430px;
  border: 1px solid black;
  background: #eeeeee;
  padding: 10px;
}
/* line 92, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#form div#title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 96, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify, div#container div#unique div#main_content div#sent {
  width: 400px;
  margin: 0 auto;
  font-size: 14px;
}
/* line 100, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify li, div#container div#unique div#main_content div#sent li {
  list-style-type: none;
  margin: 3px 0;
}
/* line 103, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify li span#label, div#container div#unique div#main_content div#sent li span#label {
  float: left;
  width: 70px;
  text-align: right;
  font-weight: bold;
  margin-right: 5px;
}
/* line 109, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify li span#content, div#container div#unique div#main_content div#sent li span#content {
  float: left;
  background: #dddddd;
  width: 300px;
}
/* line 113, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify div#title, div#container div#unique div#main_content div#sent div#title {
  font-size: 16px;
  margin: 0 0 10px 75px;
}
/* line 116, ../../app/stylesheets/application.sass */
div#container div#unique div#main_content div#verify a, div#container div#unique div#main_content div#sent a {
  float: left;
  margin: 10px 0 0 75px;
}

/* line 121, ../../app/stylesheets/application.sass */
form.formtastic li.error {
  background: pink;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 2.5px 5px;
}
/* line 126, ../../app/stylesheets/application.sass */
form.formtastic li.error p.inline-errors {
  margin-left: 65px;
}
/* line 128, ../../app/stylesheets/application.sass */
form.formtastic li {
  float: left;
  font-size: 13px;
  list-style-type: none;
  padding: 0 5px;
}
/* line 133, ../../app/stylesheets/application.sass */
form.formtastic li label {
  float: left;
  width: 50px;
  text-align: right;
  margin: 2px 10px 0 0;
}
/* line 138, ../../app/stylesheets/application.sass */
form.formtastic li input {
  width: 300px;
}
/* line 140, ../../app/stylesheets/application.sass */
form.formtastic li textarea {
  width: 300px;
  height: 100px;
}
/* line 143, ../../app/stylesheets/application.sass */
form.formtastic input.submit {
  margin: 5px 0 0 65px;
}
/* line 145, ../../app/stylesheets/application.sass */
form.formtastic input.list {
  margin: 10px 0 0 75px;
}

/* line 149, ../../app/stylesheets/application.sass */
form.block li label {
  float: none;
  display: block;
  text-align: left;
}
/* line 153, ../../app/stylesheets/application.sass */
form.block input.submit {
  margin-top: 5px;
}

/* line 156, ../../app/stylesheets/application.sass */
div.full {
  border: 1px solid black;
  background: #eeeeee;
}
